
@{
    ViewBag.Title = "ConfirmarReserva";
    Layout = "~/Views/Shared/_LHome.cshtml";
}
@model  TrabajoPracticoWeb3.Models.CarteleraReserva


<h2 class="">Detalle de reserva realizada</h2>

 <div class="col-md-6 col-md-offset-3 table-bordered">
    <h3 class="text-center">Código de reserva: @Model.IdReserva</h3>
    <h3 class="text-center">Cantidad de entradas: @Model.CantidadEntradas</h3>
    <h3 class="text-center">Precio total: @ViewBag.PrecioTotal</h3>
    <h3 class="label label-success text-center">Su reserva se ha realizado con éxito!!! Muchas gracias!</h3>
</div>
<div class="col-md-12 col-md-1">
    <button class="btn btn-info btn-lg">Volver a Cartelera</button>
</div>

