
@{
    ViewBag.Title = "ConfirmarReserva";
    Layout = "~/Views/Shared/_LHome.cshtml";
}
@model  TrabajoPracticoWeb3.Models.CarteleraReserva


<h2>Detalle de reserva realizada</h2>

<table class="table">
    <thead>
        <tr>
            <th>Codigo Reserva</th>
            <th>Cantidad de entradas</th>
            <th>Precio total</th>
        </tr>
    </thead>


    <tbody>
        


            <tr>
                <td>@Model.IdReserva</td>
                <td>@Model.CantidadEntradas</td>
                <td>$@ViewBag.PrecioTotal</td>
               
            </tr>
        
    </tbody>

   

</table>



    <h4 class="label label-success">Su reserva se ha realizado con éxito!!! Muchas gracias!</h4>

