<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/fonts/awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/login/form-elements.css" rel="stylesheet" />
    <link href="~/Content/login/style.css" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="~/Scripts/login/html5shiv.js"></script>
        <script src="~/Scripts/login/respond.min.js"></script>
    <![endif]-->
      
</head>
<body>
    <div class="container">
        @RenderBody()
        <!-- Footer -->
    </div>

    <!-- Javascript -->
    <script src="~/Scripts/login/jquery-1.11.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/login/jquery.backstretch.min.js"></script>
    <script src="~/Scripts/login/scripts.js"></script>

    <!--[if lt IE 10]>
        <script src="~/Scripts/login/placeholder.js"></script>
    <![endif]-->

</body>
</html>